<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Material Start</title>
	<meta name="author" content="Salvador Coronel Flores">
	<meta name="description" content="Angular Material en 4 Pasos!">
	<link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
</head>
<body ng-app="talentecApp" ng-cloak layout="column">
	<md-toolbar layout="row" class="md-hue-2">
		<div class="md-toolbar-tools">
      		<h1>Cursos Talentec</h1>
      	</div>
    </md-toolbar>
    
    <div flex layout="row" ng-controller="CourseCtrl as vm">
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
			<md-list>
				<md-list-item class="md-2-line" ng-repeat="course in vm.courses" ng-click="vm.updateCourseDetail(course)">
	              	<md-icon md-font-set="material-icons">{{course.image}}</md-icon>
	              	<div class="md-list-item-text">
		                <h3>{{course.name}}</h3>
		                <p> {{course.tags}} </p>		                
	              	</div>
	            </md-list-item>
	      	</md-list>
        </md-sidenav>        
        <md-content flex id="content" layout-padding>
		    <h2>{{vm.courseDetail.name}}</h2>
		    <p>
		        {{vm.courseDetail.description}}
		    </p>

		    <md-button target="_blank" ng-href="{{vm.courseDetail.link}}" class="md-raised md-primary">Matrículate</md-button>
        </md-content>
    </div>

	<script src="./bower_components/angular/angular.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>

    <script src="./js/courses/course.module.js" type="text/javascript" ></script>
    <script src="./js/courses/course.controller.js" type="text/javascript" ></script>
    <script src="./js/courses/course.factory.js" type="text/javascript" ></script>

    <script>
        // Incluir la dependencia ngMaterial y courses
        angular.module('talentecApp', ['ngMaterial', 'courses']);
    </script>
    
</body>
</html>

